/*
Typical Device Breakpoints

- Pequenas telas: até 600px   >> NO STYLE.CSS
- Celular: de 601px até 768px >> NO STYLE.CSS
- Tablet: 769px até 992px
- Desktop: 993px até 1200px
- Grandes telas: acima de 1200px
*/

@media screen and (min-width:769px) and (max-width:992px){

    body{
        background-image: linear-gradient(to top, #deddf7, gray);
    }

    section#login{
        width: 75%;
    }
    
    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius:20px;
    }

    section#login > div#formulario{
        float: right;
        width: 60%;
    }

    div#formulario > h1{
        font-size: 1.5em;
        padding: 10px;
        margin-top: 20px;
    }
    
    div#formulario > p{
        font-size: .9em;
        padding: 20px;
    }
    
}

@media screen and (min-width:993px){

    body{
        background-image: linear-gradient(to top, gray, #deddf7);
    }

    

    section#login{
        width: 920px;
        height: 430px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 20px;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 2em;
        padding: 10px;
        margin-top: 20px;
    }
    
    div#formulario > p{
        font-size: 1em;
        padding: 20px;
    }
    
}